<section id="experience_engineering" class="simple-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience (Engineering)</h2>
        <hr class="small">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Smart Garden Project, CUHK </h3>
        <p class="lead">July 2020 - Present</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Team Member</h4>
        <ul>
          <li>Design and build a portable gardening kit with features like automatic irrigation</li>
          <li>Design and solder a circuit board with a microcontroller, various sensors and other components after testing on a breadboard</li>
          <li>Write an Arduino program to read sensor data and control water pump to water plants automatically</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Solar Plane Project, CUHK </h3>
        <p class="lead">November 2017 - December 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Team Member</h4>
        <ul>
          <li>Constructed solar-powered RC planes from scratch with 10 team members</li>
          <li>Designed and created SolidWorks files for 3D-printing and laser cutting </li>
          <li>Assembled planes by soldering electronic parts into a circuit board and fixing laser cut wood boards </li>
          <li>Tested multiple brands of solar cells to find the ones with highest efficiency</li>
          <li>Built planes of different structures and continuously modified the design to improve flight performance</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>CUHK Robocon Team </h3>
        <p class="lead">October 2017 - July 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Team Member</h4>
        <ul>
          <li>Built robots for the Robocon 2018 Hong Kong Contest, a robot contest among universities students </li>
          <li>Constructed robots that used pneumatic and electric systems with 15 members</li>
          <li>Created a SolidWorks model for a part enabling the robot to cross a barrier</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
