<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Lee Cheuk Yan, Rebecca</h1>
    <h3>I'm a self-motivated engineer with one year of job experience and 
      a degree in Mechanical and Automation Engineering. </h3> 
    <h3>Passionate about nature, I aspire to apply my engineering skills 
      to contribute to environmental protection, </h3>
    <h3>with special interests in agriculture and clean energy. </h3>   
    <a target="_blank" href="https://cheukyanlee.github.io/projects/" class="btn btn-lg btn-dark">See my projects</a>
    <br>
  </div>
</header>
