<section id="work" class="simple-text bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Work</h2>
        <hr class="small">
      </div>
    </div>
	  
    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Farmacy HK Limited </h3>
        <p class="lead">Apr 2022 - Mar 2024</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Mechanical Mechatronic Engineer</h4>
        <ul>
          <li>Designed, installed and maintained indoor hydroponic systems and related equipment</li>
          <li>Prepared 3D models and drawings for manufacturing during design stage and component procurement</li>
          <li>Utilised hand tools and power tools to build and repair hydroponic systems</li>
          <li>Conducted trainings to hand over systems to operation team and clients</li>
        </ul>
      </div>
    </div>
	  
    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Widex Technology Development Limited </h3>
        <p class="lead">May 2021 - Mar 2022</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Assistant Engineer</h4>
        <ul>
          <li>Designed and install rooftop photovoltaic systems for universities, schools, commercial buildings and NGOs</li>
          <li>Prepared layout design, electrical schematic, equipment layout and other engineering drawings</li>
	  <li>Coordinated and supervise workers during site work to ensure smooth and safe installation work</li>
	  <li>Communicated with clients, power companies and main contractors to arrange grid connection</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>CLP Power Limited </h3>
        <p class="lead">July 2019 - July 2020</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Sandwich Intern (Full-time)</h4>
        <ul>
          <li>Managed safety, health and environmental (SHE) aspects of office, including organising monthly SHE committee meetings and office safety inspections</li>
          <li>Supported the engineering team in FEED and EPC stages by preparing professional project documents and reviewing design documents from consultants and contractors</li>
          <li>Communicated with staff in different departments or companies to complete various tasks</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Greeners Action</h3>
        <p class="lead">November 2017 - December 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Part-time Assistant</h4>
        <ul>
          <li>Organised gardening and composting workshops for primary and secondary school students in groups of various size</li>
	  <li>Communicated with schoolteachers and drivers to arrange workshops and farm visits</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
